/* much of this style sheet was created referencing https://www.w3schools.com/css/default.asp for style properties*/
/* I have commented with reference to specific web pages where my structure was developed with inspiration from the site examples */

/* general formatting for the entire site, with more specific changes below */
body {
	background-color: #393939;
	color: white;
	font-family: Georgia, "Times New Roman", serif;
	margin-top: 35px;
	margin-bottom: 100px;
	margin-left: 150px;
	margin-right: 150px;
}

/* I have adjusted my fonts to be sans-serif for the headers I am using (h1 to h3) */
h1,h2,h3 {
	font-family: Verdana, Helvetica, sans-serif;
}

/* to help separate the content from the navigation bar, I increased the left margin for non-image content */
p,h1,h2,h3,table,#raskills,#tskills,#cskills {
	margin-left: 20px;
}

/* adjustment to text width for all pages */
p,#raskills,#tskills,#cskills {
	max-width: 1100px;
}

h3 {
	margin-top: 40px;
}

/* NAVIGATION BAR - to be graded */
/* for nav bar design, I referenced https://www.w3schools.com/css/css_navbar.asp and adjusted the format for my website */
.navbarul {
	background-color: #424242;
	list-style-type: none;
	margin-bottom: 25px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	overflow: hidden;
}
.navbarli {
	float: left;
	display: block;
	padding: 15px 20px;
	text-align: center;
}
.navbartxt {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: orange;
	text-decoration: none;
}
.navbaract {
	text-decoration: underline;
}

/* style properties for the photo on my main page */
#profilepic {
	float: right;
	padding: 5px 20px;
	width: 400px;
	height: 719px; 
}


/* TABLE(S) - to be graded */
/* table design created with reference to https://www.w3schools.com/css/css_table.asp */
table {
	border-collapse: collapse;
	border: 2px solid white;
	margin-bottom: 50px;
	max-width: 1100px;
}
th {
	background-color: #505050;
	font-family: Verdana, Helvetica, sans-serif;
}
th,td {
	border: 1px solid white;
	padding: 7px 5px;
}
tr:hover {
	background-color: #606060;
}

/* EXTERNAL LINKS - to be graded */
/* created with reference to https://www.w3schools.com/css/css_link.asp */
.sitelinks:link {
	color: orange;
}
.sitelinks:visited {
	color: chocolate;
}
.sitelinks:hover {
	color: gold;
}