body {
	background-color: #393939;
	color: white;
	font-family: Georgia, Times New Roman, serif;
	margin-top: 35px;
	margin-bottom: 100px;
	margin-left: 150px;
	margin-right: 150px;
}

h1,h2,h3 {
	font-family: Verdana, Helvetica, sans-serif;
}

p,h1,h2,h3,table,#raskills,#tskills,#cskills {
	margin-left: 20px;
}

p,#raskills,#tskills,#cskills {
	max-width: 1100px;
}

h3 {
	margin-top: 40px;
}

/* for nav bar design, I referenced https://www.w3schools.com/css/css_navbar.asp and adjusted the format for my website */
.navbarul {
	background-color: #424242;
	list-style-type: none;
	margin-bottom: 25px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	overflow: hidden;
}

.navbarli {
	float: left;
	display: block;
	padding: 15px 20px;
	text-align: center;
}

.navbartxt {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	color: orange;
	text-decoration: none;
}

.navbaract {
	text-decoration: underline;
}

#profilepic {
	float: right;
	padding: 5px 20px;
	width: 400px;
	height: 719px; 
}

table {
	border-collapse: collapse;
	border: 2px solid white;
	margin-bottom: 50px;
	max-width: 1100px;
}

th {
	background-color: #505050;
	font-family: Verdana, Helvetica, sans-serif;
}

th,td {
	border: 1px solid white;
	padding: 7px 5px;
}

/* table hover created from https://www.w3schools.com/css/css_table.asp with alteration to colour for my design */
tr:hover {
	background-color: #606060;
}


/* The following is my design for links, created with reference to https://www.w3schools.com/css/css_link.asp */
.sitelinks:link {
	color: orange;
}
.sitelinks:visited {
	color: chocolate;
}
.sitelinks:hover {
	color: gold;
}